// *************
// Welcome Page Start
// **************

.fade-el {
    -webkit-animation: fade-in-top .9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-top .9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-el-wait {
    -webkit-animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
    animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
}

.help-field {
    color: #dc3545;
    font-weight: 600;
    font-size: 0.9em;
    padding-left: 5px;
}

.swal2-popup {
    .swal2-title {
        font-size: 1em !important;
    }

    .swal2-styled {
        padding: 0.3em 1em !important;

        .swal2-confirm {
            border-radius: $border-radius !important;
        }
    }
}


@-webkit-keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


// logo animation

.logo-wrapper img {
    -webkit-animation: bounce-img 1.1s both;
    animation: bounce-img 1.1s both;
}

@-webkit-keyframes bounce-img {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-img {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.sticky-menu {
    border-radius: 15px 0px 0px 15px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.2s linear;

    i {
        font-size: 3rem !important;
    }

    &:hover {

        i,
        p {
            -webkit-animation: wobble 0.8s both;
            animation: wobble 0.8s both;
        }
    }
}

@-webkit-keyframes wobble {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes wobble {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}


// *************
// Welcome Page End
// **************

// *************
// Login Page Start
// **************

.navbar-light {

    .navbar-brand,
    .navbar-nav .nav-link {
        color: white;
        font-weight: 700;

        &:hover,
        &:visited,
        &:focus {
            color: rgba(255, 255, 255, .8);
        }
    }
}

// *************
// Login Page End
// **************

// *************
// Dashboard Page Start
// **************

#dashboard-page {

    .card {
        border: none !important;
        border-radius: 0px;

        @media(min-width: 765px) {
            overflow-x: hidden !important;
        }
    }

    select:focus {
        box-shadow: none;
    }

    #dashboardTable {

        th,
        tr {
            padding: 15px;
        }

    }

    .table-sm th,
    .table-sm td {
        padding: 0.6rem;
    }

    .is-active {
        display: block;
    }

}

.modal-content {
    border-radius: $border-radius;

    .modal-header {
        background: #f9f9f9;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .modal-footer {
        border-radius: 0px 0px 15px 15px;
    }
}

.modal-fade-enter,
.modal-fade-leave-active {
    opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity .5s ease;
}

.alert {
    border: none;
    color: white;
}

.alert-info {
    background-color: $turquoise;
}

.alert-danger {
    background-color: #dc3545;
}

.alert-success {
    background-color: $blue;
}

#create-board:hover {
    background: #6c757d;
}

.pagination {
    justify-content: flex-end;
    padding-right: 3%;

    .page-item.active .page-link {
        background: $magenta;
        border-color: $magenta;
    }

    .page-link {
        color: $magenta;
    }
}

// *************
// Dashboard Page End
// **************

// *************
// Board Page Start
// **************

#board-page {

    textarea {
        background: transparent;
        border: none;
    }

    .idea-btn {
        -webkit-animation: wobble 0.8s 1.5s 2 both;
        animation: wobble 0.8s 1.5s 2 both;
    }

}

// *************
// Board Page End
// **************
