// Typography
$font-family: 'Lato', sans-serif;
$font-size-base: 0.9rem;
$medium-font: 1.15rem;
$line-height-base: 1.6;

// Colors
$magenta: #ff4d96;
$turquoise: #22d1b8;
$blue: #4588ff;
$lightgray : #f8f8f8;
$midgray: #eaeaea;
$textColor: #333;
$buttonColor: #5c5c5c;

//Other defaults
$border-radius: 15px;
