
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom Css
@import 'customize';


// Main

body{
	font-family: $font-family;
	color: $textColor;
}

.font-md{
	font-size: $medium-font;
}

// colors

.bg-primary{
    background: $magenta!important;
}

.bg-secondary{
    background: $turquoise;
}

.bg-blue{
    background: $blue;
}
.bg-lightgray{
    background: $lightgray;
}

.bg-gray{
    background: $midgray;
}

.white{
    color: white;
}

// buttons

@mixin button-style{
    color: white;
    border: none;
    transition: all 0.2s ease-in;
}

@mixin hover-btn{
    &:hover{
        border: none;
        background: #ccc;
        color: white;
    }
}

.btn-primary{
	background: $magenta;
    @include button-style;
    @include hover-btn;
}
.btn-secondary{
	background: $turquoise;
    @include button-style;
    @include hover-btn;
}

.btn-blue{
	background: $blue;
    @include button-style;
    @include hover-btn;
}

.button-outline{
	text-transform: uppercase;
    border: 2px solid $magenta;
    color: $buttonColor;
    border-radius: 15px;
    padding: 0.5em 2rem;
    transition: all 0.2s ease-in;
    &:hover{
    	color: white;
    	background: $magenta;
        text-decoration: none;
    }
}

.green-border{
    border: 2px solid $turquoise;
    &:hover{
    	background: $turquoise;
    }
}

.blue-border{
    border: 2px solid $blue;
    &:hover{
    	backgound: $blue;
    }
}

// .custom-button{
//     border: 15px;
//     padding: 0px;
//     height: auto;
// }